.odc-empty-state {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &__content {
    padding: 25px;
    background: var(--pf-global--Color--light-200);
    flex: 1;
  }

  &__card {
    height: 100%;
    text-align: center;
  }
}
